.jvs_navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 6rem;
}
a {
  color: #fff;
  text-decoration: none;
}
.jvs_navbar-links {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.jvs_navbar-links_logo {
  margin-right: 2rem;
}
.jvs_navbar-links_logo img {
  width: 62px;
  height: 16px;
}
.jvs_navbar-links_container {
  display: flex;
  flex-direction: row;
}
.jvs_navbar-sign {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.jvs_navbar-links_container p,
.jvs_navbar-links_container p a,
.jvs_navbar-sign p,
.jvs_navbar-menu_container p {
  color: #fff;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  text-transform: capitalize;
  margin: 0 1rem;
  cursor: pointer;
  text-decoration: none;
}

.jvs_navbar-sign button,
.jvs_navbar-menu_container button {
  /* position: absolute; */
  padding: 0.5rem 1rem;

  color: #fff;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  background: #ff4820;
  border-radius: 5px;
  border: 0;
  outline: none;
  cursor: pointer;
}
.jvs_navbar-menu {
  margin-left: 1rem;
  display: none;
  position: relative;
}
.jvs_navbar-menu svg {
  cursor: pointer;
}
.jvs_navbar-menu_container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  text-align: end;
  background: var(--color-footer);
  padding: 2rem;
  position: absolute;
  top: 40px;
  right: 0;
  margin-top: 1rem;
  min-width: 210px;
  border-radius: 5px;
  box-shadow: 0 0 5 rgba(0, 0, 0, 0.2);
}
.jvs_navbar-menu_container p {
  margin: 1rem 0;
}
.jvs_navbar-menu_container-links-sign {
  display: none;
}
@media screen and (max-width: 1050px) {
  .jvs_navbar-links_container {
    display: none;
  }
  .jvs_navbar-menu {
    display: flex;
  }
}
@media screen and (max-width: 700px) {
  .jvs_navbar {
    padding: 2rem 4rem;
  }
}

@media screen and (max-width: 550px) {
  .jvs_navbar {
    padding: 2rem;
  }

  .jvs_navbar-sign {
    display: none;
  }

  .jvs_navbar-menu_container {
    top: 20px;
  }

  .jvs_navbar-menu_container-links-sign {
    display: block;
  }
}
